<title>Celadon</title>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    {% include 'home/navbar.html' %}
</head>
<body>
    <div class="banner" style="background-image: url('{% static 'images/weed_field.png' %}')">
        <div class='banner-content'>
            <h1 style="height: 20%;"><img src="{% static 'images/logo.svg' %}"></h1>
            <p>Celedon is a service and consulting company for emerging markets in the agricultural industry.
            At Celedon we're Focused on optimizing the business process, while growing organizations 
            to embrace the power of modern technology, science, & security to ensure profitable 
            organizations. All this done in an end to end solutions provider for the agricultural industry and modern business. 
            </p>
        </div>
    </div>
</body>